<div class="fields">
	<%= f.label :name, "Course" %>
	<%= f.text_field :name %>
	<%= f.link_to_remove 'Remove' %>
	<%# Alternatively you can use a check box: %>
	<%# f.check_box :_delete %>
	<%# f.label :_delete, "(remove)" %>
</div>
